@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body * {
    box-sizing: border-box;
}
.main-login{ 
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image{
    width: 35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
    background: #2f2841;
    border-radius: 18px;
    box-shadow: 0px 15px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0 0 28px 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 16px 0px;
    width: 100%;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 8px;
}

.textfield > input{
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    padding: 0 14px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: inset 0px 2px 6px #00000040;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    height: 48px;
    padding: 0;
    margin-top: 24px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 8px 25px -8px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }

@media only screen and (max-width: 600px){
        .main-login{
            flex-direction: column;
        }
        .left-login > h1{
            display: none;
        }
        .left-login{
            width: 100%;
            height: auto;
        }
         .right-login{
            width: 100%;
            height: auto;
        }

        .left-login-image{
            width: 50vw;
        }

        .card-login{
            width: 90%;
        }
    }

}
